* {
  margin: 0;
  padding: 0;
}

:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #ffffff;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.highlight {
  color: var(--navy-blue);
}

.highlight-two {
  color: var(--cloud);
}
.list a {
  text-decoration: none;
}

.list {
  list-style: none;
}
.list-item {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item:hover {
  color: var(--ocean);
}

.list-item:focus {
  color: var(--ocean);
}

.contact-list {
  list-style: none;
}
.contact-list a:hover {
  color: var(--ocean);
}

.contact-list a:focus {
  color: var(--ocean);
}

.contact-list a {
  text-decoration: none;
}

.addresses {
  font-style: normal;
}
.first-section {
  background-color: var(--navy-blue);
}
.header-one {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  padding-top: 188px;
}

.first-section-button {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  cursor: pointer;
  padding: 16px 32px;
  border: 4px;
  margin-top: 48px;
  margin-bottom: 188px;
}
.first-section-button:hover {
  background-color: var(--ocean);
}

.first-section-button:focus {
  background-color: var(--ocean);
}

.third-header {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  width: 264px;
  margin-bottom: 8px;
}

.description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.header-two {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.section-four {
  background-color: var(--cloud);
}

.section-four-item {
  background-color: var(--white);
}

.page-footer {
  background-color: var(--navy-blue);
}
.page-footer-description {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: #f4f4fd;
  cursor: pointer;
}

.portfolio-button:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.contact {
  font-style: normal;
}
.mail {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid var(--cornflower);
  flex-shrink: 0;
}
.menu-nav {
  display: flex;
  margin-left: 156px;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.contact-list {
  display: flex;
  gap: 40px;
}

.addresses {
  margin-left: auto;
  margin-right: 156px;
}

.first-section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solutions-list {
  display: flex;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.images-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  margin-left: 156px;
  margin-right: 156px;
  margin-bottom: 120px;
}
.images-list > li > img {
  border: 1px solid var(--cornflower);
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}
.header-two {
  padding-top: 120px;
  margin-bottom: 72px;
}
.section-four-item > div {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 8px;
}
.section-four-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.page-footer-description {
  width: 264px;
  padding-bottom: 100px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-left: 156px;
}
.footer-content a {
  padding-top: 101.5px;
  margin-bottom: 17.5px;
}
.button-list {
  display: flex;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
  padding-left: 427px;
  padding-right: 427px;
}
.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}
.photo div {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}
